/*TweePoll title*/
body {
  text-align: center;
  align: center;
}
h1.Neue {
  color: rgb(0, 172, 237);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 70px;
}
/*TweePoll subtitle*/
h4.Neue {
  color: rgb(0, 132, 180);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 0px;
}
