<!DOCTYPE html>
<html>
  <head>
    <title>TweePoll: Live Twitter Insights</title>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to TweePoll!">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/TweePoll_homestyle.css') }}">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        namespace = '/output';
        var socket = io(namespace);

        socket.on('my_response', function(msg, cb) {
          $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
          if (cb)
            cb();
        });

        $('form#emit').submit(function(event) {
          socket.emit('my_event', {data: $('#emit_data').val()});
          console.log(data);
          return false;
        });

      });
    </script>
  </head>

  <body>
    <h1 class="Neue">TweePoll</h1>
    <h4 class="Neue">Real time data visualizations of Twitter politics</h4>
    <br/>
    <hr/>
    <br/><br/><br/>
    <h4 class="Neue">Type in a keyword or hashtag to track</h4>
    <form id="emit" method="POST" action='#'>
      <input type="text" name="emit_data" id="emit_data" placeholder="Message">
      <input type="submit" value="Echo">
    </form>
    <br/><br/><br/>
    <div class="container" id="content">
      <div class="row">
        <h4>Tweets will appear here:</h4>
        <div id="log"></div>
      </div>
    </div>
  </body>

</html>
